<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.oa.dao.AnnUserMapper">
    <resultMap id="BaseResultMap" type="com.design.oa.model.AnnUserKey">
        <id column="ann_id" jdbcType="INTEGER" property="annId"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="com.design.oa.model.AnnUserKey">
    delete from ann_user
    where ann_id = #{annId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>

    <insert id="insertWithUser">
        insert into ann_user (ann_id, user_id)
        values
        <foreach collection="user" item="item" separator=",">
            (#{annId,jdbcType=INTEGER}, #{item,jdbcType=INTEGER})
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.design.oa.model.AnnUserKey">
    insert into ann_user (ann_id, user_id)
    values (#{annId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.design.oa.model.AnnUserKey">
        insert into ann_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="annId != null">
                ann_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="annId != null">
                #{annId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>